.header {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    // background-color: rgb(250, 234, 18);
    background: linear-gradient(90deg, #27f5e4 10%, #f50f0f 55%, rgb(215, 218, 14) 90%);
    z-index: 50;

    .navigation {
        display: flex;
        align-items: center;
        height: 64px;
        border-bottom: 1px solid #eeecf5;
        width: 100%;

        .add-button {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 30%;
            width: 150px;
            height: 50px;
            background-color: transparent;
            border: 2px solid #3700ff;
            border-left: rgb(238, 203, 6);
            border-right: rgb(9, 5, 211);
            border-top: none;
           
          
            border-radius: 25px;
            outline: none;

            box-shadow: 2px 3px 6px 2px rgba(24, 24, 23, 0.993);
        }

        .add-button:hover {
            background-color: #fc0606;
            
            box-shadow: 0px 2px 12px 0px rgb(248, 3, 3);
        }

        .show-today-btn {
            margin-left: 40px;
            margin-right: 15px;
            width: 100px;
            height: 40px;
            background-color: transparent;
            border: 1px solid #0b07fa;
            border-radius: 25px;
            box-sizing: border-box;
            cursor: pointer;

            .today-text {
                font-size: 16px;
                font-weight: 500;
                letter-spacing: .25px;
                text-transform: none;
                opacity: 1;
                color: #1506bd;
            }
        }

        .show-today-btn:hover {
            background-color: #fffbfbf3;
               
        }

        .button-style {
            margin: 0 5px;
            color: #0d0d0e;
            background-color: transparent;
            border: none;
        }

        .nav-button__size {
            font-size: 30px;
            border-radius: 100px;
            outline: none;
        }

        .nav-button__size:hover {
            background-color: #eae8f3;
            cursor: pointer;
        }

        .current-month {
            font-size: 24px;
            font-weight: 500;
            color: #0a0ef3;
            letter-spacing: 0;
            line-height: 28px;
            white-space: nowrap;
        }
    }

    .week {
        display: flex;
        justify-content: space-around;
        margin-left: 50px;
        margin-top: 12px;
         margin-bottom: 0;

        padding: 0;
        list-style-type: none;

        &__day {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            font-size: 12px;
            font-weight: 500;
            letter-spacing: .9px;
            text-transform: uppercase;

            .day-name {
                font-size: 12px;
                color: #0d09f1;

                &__current {
                    color: rgb(252, 0, 0)
                }
            }

            .day-date {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 45px;
                height: 45px;
                font-size: 25px;
                color: #19191a;
                border-radius: 100%;

                &__current {
                    color: rgb(250, 1, 1);
                    background-color: rgb(255, 246, 246);
                }
            }
        }
    }
}