.main {
    display: flex;
    flex-direction: column;
    padding-top: 137px;

    .holiday-wrapper {
        position: fixed;
        height: 20px;
        max-width: 100%;
        border-bottom: 25px solid hsl(123, 95%, 49%);
        background-color: rgb(253, 11, 11);
        z-index: 50;

        .holiday {
            display: flex;
            justify-content: space-around;
            margin-left: 70px;
            margin-bottom: 0;
            padding: 0;
            height: 15px;
            list-style-type: none;
           

            &__day {
                width: 100vw;
                border-left: 1px solid #e7dbdb;
            }
        }

       
    }

    .gmt{
          min-width: 50px;
        font-size: 13px;
        color:blue;
        align-self: flex-end;
        padding: 0 0 10px 8px;
    }

    .wrapper-time {
        display: flex;
        margin-top: 14px;

        .time {
            display: flex;
            margin-left: 10px;
            color: #0400fc;

            &__day {
                margin-top: 50px;
            }

            .time__day-hour {
                height: 60px;
            }

            &__line {
                display: flex;
                flex-direction: column;
                margin-left: 10px;
                height: 60px;
                width: 10px;
                border-top: 1px solid #fa0707;
            }
        }

        .block-day {
            position: relative;
            width: 100%;
         
            
        }

       

        .block-hour {
            position: relative;
            width: 100%;
            height: 60px;
            border: 1px solid #a7b1c0;
            border-bottom: none;
            border-right: none;

            .event {
                position: absolute;
                display: flex;
                flex-direction: column;
                padding: 5px;
                 height: 60px;
                width: 95%;
                border-radius: 12px;
                color: #fff;
                background-color: #0602e5;
                border: 2px solid #ff0707;
                cursor: pointer;
                z-index: 4;
            }
        }
    }

    .red-line {
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: rgb(245, 9, 9);
        z-index: 5;
    }

    .red-line:before {
        content: '';
        position: absolute;
        display: block;
        top: -4px;
        left: -5px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: rgb(245, 9, 9);
    }
}

@keyframes pulsate {
    50% {
        color: #fff;
        text-shadow: 0 -1px rgba(0, 0, 0, .3), 0 0 5px #f03000, 0 0 8px #f80000;
    }
}

.blink1 {
    color: rgb(245, 245, 245);
    text-shadow: 0 -1px rgba(0, 0, 0, .1);
    text-decoration: none;
    -webkit-animation: pulsate 1.2s linear infinite;
    animation: pulsate 1.2s linear infinite;
}